<!--
  ~ ***********************
  ~ Copyright (c) 2017.
  ~ MilkyFox
  ~ http://milkyfox.com
  ~ ***********************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milkyfox.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/interstitial"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".rewarded_video.RewardedVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rewarded_video"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".interstitial.test.InterstitialActivityTest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/interstitial_test"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
